.whole-container{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    width: 70%;
    background-color: rgb(247, 241, 233);
    box-shadow: 10px 5px 5px rgb(205, 205, 205);
    border-radius: 5%;
}

.business-list-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 1200px;
    width: 40vh;
    padding-left: 20px;
    /* align-items: center; */
}

.business-logo-list{
    width: 90px;
    height: 90px;
    border: 1px solid white;
    border-radius: 50%;
}

.business-list-top{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* justify-content: space-between */
}
.name-and-stars{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.business-list{
    width: 370px;
    border: 1px solid rgb(198, 198, 198);
    background-color: rgb(243, 242, 242);
    margin: 20px;
    box-shadow: 10px 5px 5px rgb(205, 205, 205);
    /* padding-left: 20px; */
}

.link{
    /* text-decoration: none; */
    color: inherit;
}

.business-list-header{
    font-family:helvetica;
    font-size: 30px;
    margin: auto;
    margin-top: 5%;
    padding: 10px;
    margin-bottom: 20px;
}


.star-component{
    display: flex;
    flex-direction: row;
    height: 15px;

}

.business-name{
    font-size: 20px;
}
