.business-list-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 800px;
    width: 40%;
    margin-left: 20%;
}

.business-list{
    width: 370px;
    border: 1px solid rgb(198, 198, 198);
    margin: 20px;
    box-shadow: 10px 5px 5px rgb(205, 205, 205);
}

.link{
    /* text-decoration: none; */
    color: inherit;
}

.business-list-header{
    margin: auto;
    margin-top: 3%;
    width: 60%;
    padding: 10px;
}

.business-list-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.star-component{
    display: flex;
    flex-direction: row;
    height: 15px;

}
