/* Container */
.login-form-container {
    width: 295px;
    height: 296px;
}
/* Top */
.loginform-top {
    display: flex;
    flex-direction: column;
}


h2.loginform-text-intro {
    color: red;
    text-align: center;
    padding-top: 5px;
}

h3.loginform-text-new {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 15px;
}

/* Form/inputs */
.loginform-form {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: auto;
    height: auto;
    margin: auto;
    text-align: left;
}

.loginform-input-container{
    padding-left: 10px;
}

.loginform-inputs {
    border: none;
    border-bottom: 1px solid red;
    padding-left: 5px;
}

/* Buttons */
.signup-button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.signup-bottons {
    margin: 4px;
    height: 34px;
    border: red;
    text-decoration:none;
    font-weight: bold;
    font-family: system-ui;
    font-size:12px;
    color:white;
    text-align:center;
    background-color:red;
    text-transform:uppercase;
    cursor:pointer;
    border:red;
}

.new-to-YLP {
    background-color: transparent;
    border: none;
    color: blue;
    font-weight: bold;

}

.loginform-top {
    display: flex;
    flex-direction: column;
}
