.loginform {
    background-color: rgb(255, 255, 255);
    display: block;
    width: auto;
    height: auto;
    margin: auto;
    text-align: left;
    padding: 15px;
}


.loginform-top {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}


h2.loginform-text {
    color: Black;
    text-align: center;
}

h3.loginform-text {
    color: rgb(0, 0, 0);
    text-align: center;
}


.login-form-container {
    width: 295px;
    height: 258px;
}

.emailform {

}
.password-sigup{

}


.loginbutton {
    display:inline-block;
    padding:0.25em 1em;
    margin: 0 0.2em 0.2em 0;
    border-radius:0.2em;
    text-decoration:none;
    font-weight: bold;
    font-family: system-ui;
    font-size:12px;
    color:white;
    text-align:center;
    background-color:red;
    text-transform:uppercase;
    cursor:pointer;
    border:red;
    padding-bottom:10px;
    padding-top:10px;
    margin-top:10px;
    margin-bottom: 15px;
}
