.Create-Business {
    display:inline-block;
    padding:0.25em 1em;
    margin: 0 0.2em 0.2em 0;
    border-radius:0.2em;
    text-decoration:none;
    font-weight: bold;
    font-family:Helvetica;
    font-size:12px;
    color:white;
    text-align:center;
    background-color:red;
    text-transform:uppercase;
    cursor:pointer;
    border:red;
    padding-bottom:10px;
    padding-top:10px;
    height:35px;
    width: 180px;
    margin-top:10px;
    margin-bottom: 15px;
}

.business-form{
    background-color: rgb(255, 255, 255);
    display: block;
    width: 300px;
    height: auto;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

.name-form {
    padding:12px;
    font-size:12px;
    margin-bottom: 2px;
    border:1px solid rgb(235, 235, 235);
    outline:none;
    font-family:Helvetica;
    margin-left:45px;
    margin-right:10px;
    margin-top:20px

}

.address-form{
    padding:12px;
    font-size:12px;
    margin-bottom: 2px;
    border:1px solid rgb(235, 235, 235);
    outline:none;
    font-family:Helvetica;
    margin-left:27px;
    margin-right:10px;
    margin-top:20px
}

.city-form{
    padding:12px;
    font-size:12px;
    margin-bottom: 2px;
    border:1px solid rgb(235, 235, 235);
    outline:none;
    font-family:Helvetica;
    margin-left:65px;
    margin-right:10px;
    margin-top:20px
}

.state-form{
    padding:12px;
    font-size:12px;
    margin-bottom: 2px;
    border:1px solid rgb(235, 235, 235);
    outline:none;
    font-family:Helvetica;
    margin-left:55px;
    margin-right:10px;
    margin-top:20px
}

.phone-form{
    padding:12px;
    font-size:12px;
    margin-bottom: 2px;
    border:1px solid rgb(235, 235, 235);
    outline:none;
    font-family:Helvetica;
    margin-left:30px;
    margin-right:10px;
    margin-top:20px
}

.website-form{
    padding:12px;
    font-size:12px;
    margin-bottom: 2px;
    border:1px solid rgb(235, 235, 235);
    outline:none;
    font-family:Helvetica;
    margin-left:30px;
    margin-right:10px;
    margin-top:20px
}
