.single-review{
    display:flex;
    flex-direction: column;
    width: auto;
    border-bottom: 1px solid rgb(198, 198, 198);
}
.review-title{
    font-size: 25px;
    border-bottom: 1px solid rgb(198, 198, 198);
}

.review-top{
    display: flex;
    justify-content: space-between;
}

.reviewer{
    font-size: 20px;
}

.review-rating{
    margin-left: 10px;
    margin-right: 250px;
}


.star-review-page{
    width:80px;
    height: 20px;
    margin-right: 5px;
}

.rating-time-container{
    display: flex;
    flex-direction: row;

}

.rating-time{
    font-size: 10px;
}

.content{
    font-weight: lighter;
}
